<div class="row">
    <h1>Hard & Soft Skills</h1>
    <circle-progress class="text-center col-4"
        [percent]="95"
        [radius]="100"
        [title]="'HTML5'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="80"
        [radius]="100"
        [title]="'CSS'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="75"
        [radius]="100"
        [title]="'JavaScript'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="90"
        [radius]="100"
        [title]="'Java'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="75"
        [radius]="100"
        [title]="'Python'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="70"
        [radius]="100"
        [title]="'GitHub'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="90"
        [radius]="100"
        [title]="'Resolucion de Problemas'"
        [titleFontSize]="'15'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="95"
        [radius]="100"
        [title]="'Trabajo en grupo'"
        [titleFontSize]="'20'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
    <circle-progress class="text-center col-4"
        [percent]="50"
        [radius]="100"
        [title]="'Inglés'"
        [titleFontSize]="'30'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300" 
    ></circle-progress>
</div>