
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpeg" id="fotoperfil" class="img-fluid" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Jofre Lautaro</p>
        <P>Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, minus! Eligendi laudantium, nisi quia illum fuga perferendis molestias quae. Atque ut eaque nulla omnis delectus labore natus placeat minus quia?</p>
        </span>
    </div>
    </div>
    
